<div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas"
        aria-labelledby="season-offcanvas-lable">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel1">Add New Movie</h5>
        </div>
        <div class="offcanvas-body">
            <form>
                <div class="section-form">
                    <fieldset>
                        <legend>Movie</legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Movie Name">
                                        <strong>Movie Name</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="Movie Name" type="text" class="form-control " placeholder="Enter Movie Name" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                            <div class="col-sm-12">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Description">
                                        <strong>Description</strong> :
                                    </label>
                                
                                    <!-- textarea input -->
                                    <textarea id="Description" class="form-control" placeholder="Description"></textarea>
                                </div>                            </div>
                            <div class="col-sm-6">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1" for="movie-access"><strong>Movie
                                            Access:</strong></label>
                                    <select id="movie-access" type="select" class="form-control select2-basic-multiple"
                                        placeholder="select movie access">
                                        <option>Free</option>
                                        <option>standard</option>
                                        <option>premium</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1" for="langueId">
                                        <strong>Language:</strong>
                                    </label>
                                    <select id="langueId" type="select" class="form-control select2-basic-multiple"
                                        placeholder="select language">
                                        
                                    </select>
                                    <span style="color: #d9847a;" id="error-langueId"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1" for="genreId">
                                        <strong>Categories:</strong>
                                    </label>
                                    <select id="genreId" name="genreId" type="select" class="form-control select2-basic-multiple"
                                        placeholder="select categories">
                                        
                                    </select>
                                    <span style="color: #d9847a;" id="error-genreId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-4 px-3">
                            <h5 class="mb-0">
                                <strong>Casts / Crews</strong>
                            </h5>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cast-modal">
                                <i class="fa-solid fa-square-plus me-2"></i>Add Cast / Crew
                            </button>
                            
                            <div class="modal fade" id="cast-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cast-modal-label">Add Cast/Crew</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" class="section-form">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 ">
                                                            <label class="form-label flex-grow-1" for="Person">
                                                                <strong>Person</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                            <!-- common inputs -->
                                                            <input id="Person" type="text" class="form-control " placeholder="Enter Name" value="" min=""
                                                               multiple="" />
                                                        </div>                        
                                                      </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 d-flex flex-column">
                                                            <label class="form-label flex-grow-1"
                                                                for="cast-occupation"><strong>Occupation:</strong></label>
                                                            <select id="cast-occupation" type="select" class="form-control select2-basic-multiple"
                                                                placeholder="Select Occupation">
                                                                <option>Cast</option>
                                                                <option>Crew</option>
                                                                <option>Production</option>
                                                                <option>Director</option>
                                                                <option>Actor</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 ">
                                                            <label class="form-label flex-grow-1" for="As">
                                                                <strong>As</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                            <!-- common inputs -->
                                                            <input id="As" type="text" class="form-control " placeholder="Played as" value="" min=""
                                                               multiple="" />
                                                        </div>                        
                                                      </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 d-flex justify-content-between">
                                                            <label class="form-label flex-grow-1" for="Status">
                                                                <strong>Status</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                                <div class="form-check form-switch ms-2">
                                                                    <input id="Status" class="form-check-input" type="checkbox"  />
                                                                </div>
                                                        </div>                        
                                                      </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                          </div>
                        <div class="row px-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-strip">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Cast/Crew</th>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td>Cast</td>
                                                <td>ABC</td>
                                                <td>James</td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <a aria-current="page" href="#" class="active text-success"
                                                            title="Edit">
                                                            <i class="fa-solid fa-pen mx-4"></i>
                                                        </a>
                                                        <a aria-current="page" href="#" class="active text-danger"
                                                            title="Delete">
                                                            <i class="fa-solid fa-trash me-4"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Crew</td>
                                                <td>XYZ</td>
                                                <td>Producer</td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <a aria-current="page" href="#" class="active text-success"
                                                            title="Edit">
                                                            <i class="fa-solid fa-pen mx-4"></i>
                                                        </a>
                                                        <a aria-current="page" href="#" class="active text-danger"
                                                            title="Delete">
                                                            <i class="fa-solid fa-trash me-4"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Content Rating">
                                        <strong>Content Rating</strong> :
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="Content Rating" type="text" class="form-control " placeholder="Rating" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                            <div class="col-lg-3">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1" for="genres"><strong>Release
                                            Date:</strong></label>
                                    <input class="form-control flatpickr_humandate" type="text"
                                        placeholder="release date.." data-id="multiple" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1" for="genres"><strong>Publice
                                            Date:</strong></label>
                                    <input class="form-control flatpickr_humandate" type="text"
                                        placeholder="publice date.." data-id="multiple" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Duration">
                                        <strong>Duration</strong> :
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="Duration" type="text" class="form-control " placeholder="Duration in mins" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>SEO</legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="SEO Title">
                                        <strong>SEO Title</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="SEO Title" type="text" class="form-control " placeholder="Enter seo title" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                            <div class="col-sm-12">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="SEO Description">
                                        <strong>SEO Description</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <textarea id="SEO Description" class="form-control" placeholder="SEO Description"></textarea>
                                </div>                            
                              </div>
                            <div class="col-sm-12">
                                <div class="form-group px-3">
                                    <label class="form-label flex-grow-1"
                                        for="genres"><strong>Keywords:</strong></label>
                                    <select id="genres" type="select" class="form-control select2-basic-multiple"
                                        placeholder="select genres">
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <option>D</option>
                                        <option>E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Media</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Thumbnail">
                                        <strong>Thumbnail</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="Thumbnail" type="file" class="form-control " placeholder="" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                            <div class="col-sm-6">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="poster">
                                        <strong>poster</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="poster" type="file" class="form-control " placeholder="" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                            <div class="col-sm-12">
                                <div class="form-group px-3 ">
                                    <label class="form-label flex-grow-1" for="Trailer Url">
                                        <strong>Trailer Url</strong> <span class="text-danger">*</span>:
                                    </label>
                                
                                    <!-- textarea input -->
                                    <!-- toggle switch -->
                                    <!-- common inputs -->
                                    <input id="Trailer Url" type="text" class="form-control " placeholder="Trailer Link" value="" min=""
                                       multiple="" />
                                </div>                            
                              </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-4 px-3">
                            <h5 class="mb-0">
                                <strong>Video Quality</strong>
                            </h5>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#video-modal">
                                <i class="fa-solid fa-square-plus me-2"></i>Add Video
                            </button>
                            
                            <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="video-modal-label">Add Video</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" class="section-form">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 d-flex flex-column">
                                                            <label class="form-label flex-grow-1"
                                                                for="quality"><strong>Quality:</strong></label>
                                                            <select id="quality" type="select" class="form-control select2-basic-multiple"
                                                                placeholder="Select Quality">
                                                                <option>480p</option>
                                                                <option>720p</option>
                                                                <option>1080p</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 ">
                                                            <label class="form-label flex-grow-1" for="Video">
                                                                <strong>Video</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                            <!-- common inputs -->
                                                            <input id="Video" type="file" class="form-control " placeholder="" value="" min=""
                                                               multiple="" />
                                                        </div>                        
                                                      </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 d-flex justify-content-between">
                                                            <label class="form-label flex-grow-1" for="Download Link">
                                                                <strong>Download Link</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                                <div class="form-check form-switch ms-2">
                                                                    <input id="Download Link" class="form-check-input" type="checkbox"  />
                                                                </div>
                                                        </div>                        
                                                      </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                          </div>
                        <div class="row px-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Quality</th>
                                                <th>Video URL</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td>720P</td>
                                                <td>video_720.mp4</td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <a aria-current="page" href="#" class="active text-success"
                                                            title="Edit">
                                                            <i class="fa-solid fa-pen mx-4"></i>
                                                        </a>
                                                        <a aria-current="page" href="#" class="active text-danger"
                                                            title="Delete">
                                                            <i class="fa-solid fa-trash me-4"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-4 px-3">
                            <h5 class="mb-0">
                                <strong>Subtitles</strong>
                            </h5>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subtitle-modal">
                                <i class="fa-solid fa-square-plus me-2"></i>Add Subtitle
                            </button>
                            
                            <div class="modal fade" id="subtitle-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="subtitle-modal-label">Add Subtitle</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" class="section-form">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 d-flex flex-column">
                                                            <label class="form-label flex-grow-1" for="subtitle-language">
                                                                <strong>Subtitle:</strong>
                                                            </label>
                                                            <select id="subtitle-language" type="select" class="form-control select2-basic-multiple"
                                                                placeholder="select subtitle">
                                                                <option>Hindi</option>
                                                                <option>English</option>
                                                                <option>French</option>
                                                                <option>Marathi</option>
                                                                <option>Gujrati</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group px-3 ">
                                                            <label class="form-label flex-grow-1" for="File">
                                                                <strong>File</strong> :
                                                            </label>
                                                        
                                                            <!-- textarea input -->
                                                            <!-- toggle switch -->
                                                            <!-- common inputs -->
                                                            <input id="File" type="file" class="form-control " placeholder="" value="" min=""
                                                               multiple="" />
                                                        </div>                        
                                                      </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                          </div>
                        <div class="row px-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Language</th>
                                                <th>URL</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td>English</td>
                                                <td>English.txt</td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <a aria-current="page" href="#" class="active text-success"
                                                            title="Edit">
                                                            <i class="fa-solid fa-pen mx-4"></i>
                                                        </a>
                                                        <a aria-current="page" href="#" class="active text-danger"
                                                            title="Delete">
                                                            <i class="fa-solid fa-trash me-4"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="offcanvas-footer border-top">
            <div class="d-grid d-flex gap-3 p-3">
                <button type="submit" class="btn btn-primary d-block">
                    <i class="fa-solid fa-floppy-disk me-2"></i>Save
                </button>
                <button type="button" class="btn btn-outline-primary d-block" id="btnClose">
                    <i class="fa-solid fa-angles-left me-2"></i>Close
                </button>
            </div>
        </div>
    </div>