<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="footer__logo">
                <a href="./index.html"><img src="{{ url_for('static', path='/img/logo.png') }}" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="footer__nav">
                <ul>
                    <li class="active"><a href="/">Homepage</a></li>
                    <li><a href="/dcma">DCMA</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</footer>


<script>
    $(function() {
        $.get('http://127.0.0.1:8000/categories', data=> {
            var list_category = ''
            data.map(item => {
                if(item.is_active) {
                    list_category += `<li><a href='/${item.id}/category'>${item.name}</a></li>`
                }
            })
            $('#categories-menu').html(list_category)
        })
    })
</script>