<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vast-player/dist/vast-player.min.js"></script>
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.min.js') }}"></script>
    {% endblock %}
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    {% include 'layouts/header.html' %}
    <!-- Header End -->

    <!-- Content Begin -->
    {% block content %}{% endblock %}
    <!-- Content End -->

    <!-- Footer Section Begin -->
    {% include 'layouts/footer.html' %}
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

<!-- Js Plugins -->
<script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/mixitup.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/jquery.slicknav.js') }}"></script>
<script src="{{ url_for('static', path='/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>


</body>

</html>