{% extends 'layouts/master.html' %}
{% block description %}
    Rentré dans l'univers de l'animé.
{% endblock %}
{% block keywords %}
    annimé, anime, manga, fight, funny, epic
{% endblock %}
{% block title %}ZoneAnimee | DCMA{% endblock %}

{% block content %}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="{{ url_for('static', path='/img/normal-breadcrumb.jpg' )}}" style="background-image: url(&quot;img/normal-breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>DCMA</h2>
                    <p>Welcome to the official ZoneAnimee.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 style="color: white">Informations DMCA / Avis Légaux / Legal Disclaimer</h3>
                <h4 style="color: white">Version française:</h4>
                <p style="color: white">
                    Free-Vostfr (www.zoneanimee.com) est en conformité avec 17 USC § 512 et le Digital Millenium Copyright Act ("DMCA"). Notre politique est de répondre à tout avis d'infraction et de prendre des mesures appropriées en vertu de la Digital Millennium Copyright Act ("DMCA") et autres lois applicables en matière de propriété intellectuelle.
                    Si vos droits d'auteur ont été publiée sur www.zoneanimee.com ou si des liens vers vos droits d'auteur sont retournées grâce à notre site internet et que vous voulez que ce contenu soit retiré, vous devez nous communiquer les informations suivante :
                    - Fournir la preuve de la personne autorisée à agir au nom du propriétaire d'un droit exclusif qui est prétendument violé. - Fournir des informations de contact suffisant pour que nous puisions communiquer avec vous. - Fournir l'adresse complète (URL) qui permet d’accéder directement au contenu concerné.
                    Si les informations demandées sont incomplète ou fausse nous ignorerons votre demande.
                    Envoyer l'avis d'infraction par le formulaire de contact <a href="/contact">Cliquez ici</a>
                    Le traitement de votre demande peut prendre jusqu'à trois jours ouvrable.
                </p>

                <h4 style="color: white">English version:</h4>
                <p style="color: white">
                    Free-Vostfr (www.zoneanimee.com) is in compliance with 17 U.S.C. § 512 and the Digital Millennium Copyright Act ("DMCA"). It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act ("DMCA") and other applicable intellectual property laws.
                    If your copyrighted material has been posted on www.zoneanimee.com or if links to your copyrighted material are returned through our web site and you want this material removed, you must provide the following information:
                    - Provide evidence of the authorized person to act on behalf of the owner of an exclusive right that is allegedly infringed. - Provide sufficient contact information so that we may contact you. You must also include a valid email address. - Give the full address (URL) that allows direct access to relevant content.
                    If the requested information is incomplete or false we will ignore your request.
                    Send notice of violation by the contact form <a href="/contact">click here</a>
                    Processing your request may take up to three business days.
                </p>
            </div>
        </div>
        <!-- ADS Begin -->
        <!-- ADS End -->
        
    </div>
</section>
<!-- Login Section End -->

{% endblock %}