{% extends 'layouts/master.html' %}
{% block description %}
Back office du site
{% endblock %}
{% block keywords %}
dashboard, backoffice
{% endblock %}
{% block author%}TI-GENERATION{% endblock %}
{% block title %}ZoneAnimee | Dashboard{% endblock %}


<!-- header -->
{% include 'layouts/header.html' %}
<!-- end header -->

<!-- sidebar -->
{% include 'layouts/sidebar.html' %}
<!-- end sidebar -->
{% block content %}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Add New Movie</h2>
                </div>
            </div>
            <!-- end main title -->

            <!-- form -->
            <div class="col-12">
                <form id="form" class="form">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">Upload cover (190 x 270)</label>
                                        <input id="form__img-upload" name="cover_image" type="file" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="#" alt=" ">
                                        <span id="error-cover_image" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <input type="text" name="title" id="title" class="form__input" placeholder="Title">
                                        <span id="error-title" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <textarea id="description" name="description" class="form__textarea" placeholder="Description"></textarea>
                                        <span id="error-description" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="text" id="release_year" name="release_year" class="form__input" placeholder="Release year">
                                        <span id="error-release_year" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="text" id="running_time" name="running_time" class="form__input" placeholder="Running timed in minutes">
                                        <span id="error-running_time" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <select class="js-example-basic-single" id="quality" name="langueId">
                                            
                                        </select>
                                        <span id="error-langueId" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="text" id="age_limit" name="age_limit" class="form__input" placeholder="Age">
                                        <span id="error-age_limit" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <select class="js-example-basic-multiple" id="genre" name="genreId[]" multiple="multiple">
                                            
                                        </select>
                                        <span id="error-genreId" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__gallery">
                                        <label id="gallery1" for="form__gallery-upload">Upload photo Slide</label>
                                        <input data-name="#gallery1" id="form__gallery-upload" name="gallery" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <ul class="form__radio">
                                        <li>
                                            <span>Movie Type:</span>
                                        </li>
                                        <li>
                                            <input id="serie" value="serie" type="radio" name="movie_type" checked="">
                                            <label for="serie">Serie</label>
                                        </li>
                                        <li>
                                            <input id="film" value="film" type="radio" name="movie_type">
                                            <label for="film">Film</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <ul class="form__radio">
                                        <li>
                                            <span>Movie Status:</span>
                                        </li>
                                        <li>
                                            <input id="running" value="running" type="radio" name="status" checked="">
                                            <label for="running">Running</label>
                                        </li>
                                        <li>
                                            <input id="close" value="close" type="radio" name="status">
                                            <label for="close">Close</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form__video">
                                        <label id="movie1" for="form__video-upload">Upload video File</label>
                                        <input data-name="#movie1" id="form__video-upload" name="zip_file" class="form__video-upload" type="file" accept=".rar, .zip">
                                        <span id="error-videos_list" style="color: red; font-size: small;"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group form__group--link">
                                        <input type="text" class="form__input" placeholder="or add a link">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 d-flex justify-content-start">
                                        <button id="btn-save" class="modal__btn modal__btn--apply" type="button" style="display: none;">Save</button>
                                        <a href='/movies' class="form__btn" style="background: red">Cancel</a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <a role="button" class="form__btn" id="btn-add">publish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>

<script>
    $(function() {
        getGenres()
        getLangues()
    })

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function getGenres() {
        $.ajax({
            url: "/genres",
            method: "GET",
            dataType: "JSON",
            success: function(data) {
                var list = ''
                $.each(data.contents, function(key, value) {
                    if(value.is_active) {
                        list += "<option value='"+value.id+"'>"+value.libelle.toUpperCase()+"</li>"
                    }
                })
                $('#genre').html(list)
            },
            error: function(errors) {
                //console.log(errors)
            }
        })
    }

    function getLangues() {
        $.ajax({
            url: "/languages",
            method: "GET",
            dataType: "JSON",
            success: function(data) {
                var list = ''
                $.each(data.contents, function(key, value) {
                    if(value.is_active) {
                        list += "<option value='"+value.id+"'>"+value.libelle.toUpperCase()+"</li>"
                    }
                })
                $('#quality').html(list)
            },
            error: function(errors) {
                //console.log(errors)
            }
        })
    }

    $('#btn-add').on('click', function(event) {
        event.preventDefault()
        access_token = getCookie('access_token')

        const formData = new FormData($('#form')[0])

        var selectedValues = $('.js-example-basic-multiple').val();
        var genreIdValues = selectedValues.map(function(value) {
            return parseInt(value, 10);
        });
        console.log(genreIdValues);

        genreIdValues.forEach(function(value) {
            if (!isNaN(value)) {
                formData.append('genreId', value);
            } else {
                console.log("Erreur : La valeur n'est pas un entier valide.");
            }
        });

        const errorFields = [
            'genreId', 'langueId', 'title', 'cover_image', 'description', 
            'release_year', 'running_time', 'age_limit', 'zip_file', 'movie_type', 'status'
        ];

        const resetErrors = () => {
            errorFields.forEach(field => {
                $(`#error-${field}`).text('');
            });
        };

        const resetForm = () => {
            $('#form')[0].reset();
            $('#form__img').attr('src', '');
            $('#gallery1').text('Upload photo Slide');
            $('#movie1').text('Upload video File');
            $('#serie').attr('checked', true);
            $('#film').attr('checked', false);
            $('#running').attr('checked', true);
            $('#close').attr('checked', false);
            $('.js-example-basic-single, .js-example-basic-multiple').val(null).trigger('change');
        };

        $.ajax({
            url: '/movies/',
            method: 'POST',
            dataType: 'JSON',
            processData: false,
            contentType: false,
            data: formData,
            beforeSend: function() {
                $('#btn-add').append('<div class="spinner"></div>');
            },
            complete: function() {
                $('.spinner').remove();
            },
            success: function(data) {
                resetForm();
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: data,
                    showConfirmButton: false,
                    timer: 1000
                })
            },
            error: function(errors) {
                $('.spinner').remove();
                resetErrors();
                if (errors.status === 422) {
                    errors.responseJSON.detail.forEach(value => {
                        if (value.loc) {
                            const field = value.loc[1];
                            if (errorFields.includes(field)) {
                                $(`#error-${field}`).text(value.msg);
                            }
                        }
                    });
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Operation failed',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: errors.responseJSON.detail,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                //console.log(errors)
            }
        })
    })
</script>

{% endblock %}