{% extends 'layouts/master.html' %}
{% block description %}
Back office du site
{% endblock %}
{% block keywords %}
dashboard, backoffice
{% endblock %}
{% block author %}TI-GENERATION{% endblock %}
{% block title %}ZoneAnimee | Dashboard{% endblock %}

{% block content %} 

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div class="row">
        <div class="col-sm-12">
            <div class="card pb-3">
                <div class="card-header border-bottom d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex align-items-center mt-3 gap-2">
                        <div class="form-group mb-0">
                            <select type="select" class="form-control select2-basic-multiple" placeholder="No Action">
                                <option>No Action</option>
                                <option>Status</option>
                                <option>Delete</option>
                            </select>
                        </div>
                        <button class="btn btn-primary ">Apply</button>
                    </div>
                    <button id="newGenre" class="btn btn-primary mt-3" type="button">
                        <i class="fa-solid fa-plus me-2"></i>Add Categorie
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-view table-responsive table-space">
                        <table class="data-tables table custom-table movie_table" data-toggle="data-genre-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Libelle</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                                   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <!-- Modal Start -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <input type="hidden" id="genreId">
                        <div class="form-group">
                            <label class="form-label" for="libelle">Libelle:</label>
                            <input type="text" class="form-control" id="libelle" name="libelle">
                            <span style="color: #d9847a;" id="error-libelle"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modalClose">Close</button>
                    <button style="display: none" type="button" class="btn btn-warning" id="btnUp">Save changes</button>
                    <button style="display: none" type="button" class="btn btn-success" id="btnAdd">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
        
    <script>
        $(function() {
            initGenreData()
        })

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function initGenreData() {
            access_token = getCookie('access_token')

            if ($.fn.DataTable) {
                if ($('[data-toggle="data-genre-table"]').length) {
                    $('[data-toggle="data-genre-table"]').DataTable({
                      "autoWidth": false,
                      "dom": '<"row align-items-center"<"col-md-6" l><"col-md-6" f>><"table-responsive my-3" rt><"row align-items-center" <"col-md-6" i><"col-md-6" p>><"clear">',
                      "ajax": {
                        "url": "http://127.0.0.1:8000/genres/",
                        "dataSrc": "",
                        "headers": {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        }
                      },
                      "columns": [
                        { "data": "id",
                          "name": "id",
                          "orderable": false,
                          "className": "text-center",
                          "render": function(data, type, row, meta) {
                            return data
                          }
                        },
                        { "data": 'libelle',
                          "name": 'libelle',
                          "orderable": true, 
                        },
                        { "data": 'is_active',
                          "name": 'is_active',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            return data ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-danger">Deactivate</span>';
                          }
                        },
                        { "data": 'created_at',
                          "name": 'created_at',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            var date = new Date(data);
                            var year = date.getFullYear();
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var day = date.getDate().toString().padStart(2, '0');
                            var formattedDate = `${year}/${month}/${day}`;
                            return formattedDate
                        }
                        },
                        { "data": null,
                          "name": "action",
                          "orderable": false,
                          "render": function(data, type, row, meta) {
                            var textStatut = data.is_active ? 'Deactivate' : 'Activate';
                            var iconStatut = data.is_active ? 'fa-lock' : 'fa-unlock-alt';
                            var colorStatut = data.is_active ? 'btn-danger' : 'btn-success';
                            return (
                                '<div class="flex align-items-center list-user-action">' +
                                    '<a onclick="activate('+data.id+')" class="btn btn-sm btn-icon '+colorStatut+' rounded delete-btn" data-bs-toggle="tooltip" data-placement="top" title="'+textStatut+'" href="#">' +
                                        '<span class="btn-inner"><i class="fa-solid '+iconStatut+' fa-xs"></i></span>' +
                                    '</a>' +
                                    '<a onclick="showGenre('+data.id+')" class="btn btn-sm btn-icon btn-warning rounded" data-bs-toggle="tooltip" data-placement="top" title="Edit" href="#">' +
                                        '<span class="btn-inner"><i class="fa-solid fa-edit fa-xs"></i></span>' +
                                    '</a>' +
                                    '<a onclick="deleteGenre('+data.id+')" class="btn btn-sm btn-icon btn-danger rounded delete-btn" data-bs-toggle="tooltip" data-placement="top" title="Delete" href="#">' +
                                        '<span class="btn-inner"><i class="fa-solid fa-trash fa-xs"></i></span>' +
                                    '</a>' +
                                '</div>'
                            );
                          }
                        }
                      ]
                    });
                }
            }
        }

        $('#newGenre').on('click', function() {
            $('#exampleModalCenter').modal('show')
            $('#form')[0].reset()
            $('#exampleModalCenterTitle').text('Add Category')
            $('#btnAdd').css('display', 'initial')
            $('#btnUp').css('display', 'none')
            $('span[id^="error-"]').text('');
        })

        $('#modalClose').on('click', function() {
            $('#exampleModalCenter').modal('hide')
            $('#form')[0].reset()
            $('span[id^="error-"]').text('');
        })

        $('#btnAdd').on('click', function(event) {
            event.preventDefault()
            access_token = getCookie('access_token')

            payload = {'libelle': $('#libelle').val()}

            $.ajax({
                url: `http://127.0.0.1:8000/genres/`,
                method: 'POST',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                data: JSON.stringify(payload),
                beaforeSend: function() {
                    $('#btnAdd').append('<div class="spinner"></div>');
                },
                complete: function() {
                    $('.spinner').remove();
                },
                success: function(data) {
                    Swal.fire('Added!', data, 'success')
                    $('[data-toggle="data-genre-table"]').DataTable().ajax.reload()
                    $('#form')[0].reset()
                    $('span[id^="error-"]').text('');
                },
                error: function(errors) {
                    $('.spinner').remove();
                    $('span[id^="error-"]').text('');
                    if (errors.status != 422) {
                        Swal.fire('Error!', errors.responseJSON.detail, 'error')
                    } else {
                        var errorsText = $('span[id^="error-"]');
                        if (errors.responseJSON.detail) {
                            errors.responseJSON.detail.forEach(function(error) {
                                const inputName = error.loc[1];
                                const errorMessage = error.msg;
                                const errorSpanId = `error-${inputName}`;
                                
                                $(`#${errorSpanId}`).text(errorMessage);
                            });
                        }
                    }
                }
            })
        })

        function activate(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to change the status of this category?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: "#c03221"
            }).then((result) => {
                if (result.isConfirmed) {
                    access_token = getCookie('access_token')

                    $.ajax({
                        url: `http://127.0.0.1:8000/genres/${id}/activate/`,
                        method: 'GET',
                        dataType: 'JSON',
                        headers: {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        },
                        success: function(data) {
                            Swal.fire('Success!', data, 'success');
                            $('[data-toggle="data-genre-table"]').DataTable().ajax.reload()
                        },
                        error: function(errors) {
                            Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                        }
                    })
                    
                }
            })
        }

        function deleteGenre(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to delete the category!? Vous ne pourrez plus revenir en arrière !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: "#c03221"
            }).then((result) => {
                if (result.isConfirmed) {
                    access_token = getCookie('access_token')

                    $.ajax({
                        url: `http://127.0.0.1:8000/genres/${id}/`,
                        method: 'DELETE',
                        dataType: 'JSON',
                        headers: {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        },
                        success: function(data) {
                            Swal.fire('Deleted!', data, 'success');
                            $('[data-toggle="data-genre-table"]').DataTable().ajax.reload()
                        },
                        error: function(errors) {
                            Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                        }
                    })
                }
            });
        }

        function showGenre(id) {
            access_token = getCookie('access_token')

            $.ajax({
                url: `http://127.0.0.1:8000/genres/${id}/`,
                method: 'GET',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                success: function(data) {
                    $('#exampleModalCenter').modal('show')
                    $('#exampleModalCenterTitle').text('Update Category Infos')
                    $('#btnAdd').css('display', 'none')
                    $('#btnUp').css('display', 'initial')

                    $('#genreId').val(data.id)
                    $('#libelle').val(data.libelle)
                },
                error: function(errors) {
                    Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                }
            })
        }

        $('#btnUp').on('click', function(event) {
            event.preventDefault()
            access_token = getCookie('access_token')
            var id = $('#genreId').val()

            payload = {'libelle': $('#libelle').val()}

            $.ajax({
                url: `http://127.0.0.1:8000/genres/${id}/`,
                method: 'PUT',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                data: JSON.stringify(payload),
                beaforeSend: function() {
                    $('#btnUp').append('<div class="spinner"></div>');
                },
                complete: function() {
                    $('.spinner').remove();
                },
                success: function(data) {
                    $('#exampleModalCenter').modal('hide')
                    Swal.fire('Update!', data, 'success')
                    $('[data-toggle="data-genre-table"]').DataTable().ajax.reload()
                },
                error: function(errors) {
                    $('.spinner').remove();
                    $('span[id^="error-"]').text('');
                    if (errors.status != 422) {
                        Swal.fire('Error!', errors.responseJSON.detail, 'error')
                    } else {
                        var errorsText = $('span[id^="error-"]');
                        if (errors.responseJSON.detail) {
                            errors.responseJSON.detail.forEach(function(error) {
                                const inputName = error.loc[1];
                                const errorMessage = error.msg;
                                const errorSpanId = `error-${inputName}`;
                                
                                $(`#${errorSpanId}`).text(errorMessage);
                            });
                        }
                    }
                }
            })
        })
    </script>
    

{% endblock %}