{% extends 'layouts/master.html' %}
{% block description %}
Back office du site
{% endblock %}
{% block keywords %}
dashboard, backoffice
{% endblock %}
{% block author%}TI-GENERATION{% endblock %}
{% block title %}ZoneAnimee | Dashboard{% endblock %}


<!-- header -->
{% include 'layouts/header.html' %}
<!-- end header -->

<!-- sidebar -->
{% include 'layouts/sidebar.html' %}
<!-- end sidebar -->
{% block content %}

<style>
    .profile__content {
        height: 100% !important;
    }

    .profile__action {
        width: 150px !important;
        height: 150px !important;
    }

    .profile__action {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the items horizontally */
        text-align: center;  /* Center align the text */
    }
</style>

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>File Management</h2>

                    <span class="main__title-stat" id="nbrFolder"></span>

                    <div class="main__title-wrap">
                        <!-- filter sort -->
                        <div class="filter" id="filter__sort">
                            <span class="filter__item-label">Sort by:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Date created">
                                <span></span>
                            </div>

                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                                <li>Date created</li>
                                <li>Rating</li>
                            </ul>
                        </div>
                        <!-- end filter sort -->

                        <!-- search -->
                        <form action="#" class="main__title-form">
                            <input type="text" placeholder="Key word..">
                            <button type="button">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8.25998" cy="8.25995" r="7.48191" stroke="#2F80ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M13.4637 13.8523L16.3971 16.778" stroke="#2F80ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </button>
                        </form>
                        <!-- end search -->
                    </div>
                </div>
            </div>
            <!-- end main title -->

            <!-- File List / Media Doc -->
            <div id="mediaFolder" class="col-12 col-lg-9" style="display: none;">
                <div class="profile__content row" id="mediaFolder-content"></div>
            </div>
            <!-- end File List / Media Doc -->

            <!-- File List / Folder Choose Doc -->
            <div id="mediaContent" class="col-12 col-lg-9" style="display: none;">
                <div class="profile__content row" id="media-content"></div>
            </div>
            <!-- end File List / Folder Choose Doc -->

            <!-- File Details -->
            <div class="col-12 col-lg-3">
                <div class="page-404__content">
                    <svg style="margin-bottom: 0px;" class="page-404__title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        
                    </svg>
                    <div class="content_details" style="display: none;"></div>
                    <div class="row mt-2 btn-details" style="display: none;"></div>
                </div>
            </div>
            <!-- end File Details -->
        </div>
    </div>
</main>

<!-- modal delete folder -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title"></h6>
    <input type="hidden" id="folder_name">

    <p class="modal__text"></p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
        <button class="modal__btn modal__btn--apply" id="folderDelBtn" type="button">Delete</button>
    </div>
</div>
<!-- end modal delete folder -->

<!-- modal delete file -->
<div id="modal-delete-file" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title"></h6>
    <input type="hidden" id="file_name">
    <input type="hidden" id="folder_path">

    <p class="modal__text"></p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
        <button class="modal__btn modal__btn--apply" id="fileDelBtn" type="button">Delete</button>
    </div>
</div>
<!-- end modal delete file -->


<script>
    $(function() {
        initUserData()
        initMediaFolder()
    })

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function initUserData() {
        access_token = getCookie('access_token')

        $.ajax({
            url: '/users/me',
            method: 'GET',
            dataType: 'JSON',
            headers: {
                'accept': 'application/json',
                'Authorization': 'Bearer ' + access_token
            },
            success: function(data) {
                if(data.is_admin) {
                    $('.role').text('Admin')
                }
                $('.userName').text(data.username)
                $('.userName').attr('href', `/${data.id}/edit-user`)
            }
        })
    }

    function initMediaFolder() {
        access_token = getCookie('access_token')

        $('.content_details').fadeOut()
        $('.btn-details').fadeOut()
        $('.btn-details').html()
        $('.page-404__title').html('<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>')
        $('.content_details').html()
    
        $.ajax({
            url: '/filemanagers/',
            method: 'GET',
            dataType: 'JSON',
            headers: {
                'accept': 'application/json',
                'Authorization': 'Bearer ' + access_token
            },
            success: function(data) {
                var list = ''
                if (data.folders && data.folders.length > 0) {
                    $.each(data.folders, function(index, folder) {
                        var folderData = JSON.stringify(folder).replace(/'/g, "&apos;").replace(/"/g, "&quot;");
                        list += '<div class="col-6 col-md-4 col-lg-3 mb-4">';
                        list += '<a role="button" onclick="showMediaDetail(\''+ folderData +'\')" class="profile__action profile__action--edit open-modal">'
                        list += '    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">'
                        list += '        <path d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>'
                        list += '    </svg>'
                        list += '    <span>' + folder.folder_names + ' (' + folder.file_count + ' files)</span>'
                        list += '</a>'
                        list += '</div>';
                    })
                } else {
                    list = '<p>No folders found.</p>'
                }
                $('#media-content').html();
                $('#mediaContent').css('display', 'none');

                $('#mediaFolder').css('display', 'initial')
                $('#mediaFolder-content').html(list)
                $('#nbrFolder').text(data.folder_count + ' total')
            },
            error: function(error) {
                $('#mediaFolder-content').html('<p>Failed to load folders. Please try again later.</p>')
            }
        })
    }

    function showMediaDetail(folderData) {
        var data = JSON.parse(folderData.replace(/&quot;/g, '"').replace(/&apos;/g, "'"));
        var details = ''
        details += '<p class="sign__label" for="oldpass">'
        details += '    <u>Name</u>: ' + data.folder_names
        details += '</p>&nbsp;&nbsp;'
        details += '<p class="sign__label" for="oldpass">'
        details += '    <u>Number of files</u>: ' + data.file_count
        details += '</p>'
    
        var btnDetails = ''
        btnDetails += '<div class="col-6 d-flex justify-content-start">'
        btnDetails += '    <button id="btn-save" class="modal__btn modal__btn--apply" type="button" style="display: none;">Save</button>'
        btnDetails += '    <a role="button" onclick="deleteFolder(\''+data.folder_names+'\')" class="form__btn" style="background: red">Delete</a>'
        btnDetails += '</div>'
        btnDetails += '<div class="col-6 d-flex justify-content-end">'
        var filesData = JSON.stringify(data.files).replace(/'/g, "&apos;").replace(/"/g, "&quot;");
        var folderName = JSON.stringify(data.files).replace(/'/g, "&apos;").replace(/"/g, "&quot;");
        btnDetails += '    <a role="button" onclick="openFolder(\'' + filesData + '\', \'' + folderName + '\')" class="form__btn" id="btn-up">Open</a>'
        btnDetails += '</div>'
    
        $('.content_details').fadeIn()
        $('.btn-details').fadeIn()
        $('.page-404__title').html('<path style="fill: rgb(234, 217, 217);" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>')
        $('.btn-details').html(btnDetails)
        $('.content_details').html(details)
    }

    window.deleteFolder = function(folderName) {
        $.magnificPopup.open({
            items: {
                src: '#modal-delete'
            },
            type: 'inline',
            fixedContentPos: true,
            fixedBgPos: true,
            overflowY: 'auto',
            preloader: false,
            focus: '#username',
            modal: false,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            closeBtnInside: true,
            callbacks: {
                open: function() {
                    $('.modal__title').text('Document deletion');
                    $('.modal__text').text('Are you sure to permanently delete this '+folderName+' folder?')
                    $('#folder_name').val(folderName)
                },
                close: function() {
                    $('.modal__title').text('');
                    $('.modal__text').text('')
                    $('#folder_name').val('')
                }
            }
        });
    }

    $('#folderDelBtn').on('click', function(event) {
        event.preventDefault()
        access_token = getCookie('access_token')
        var folderName = $('#folder_name').val()

        $.ajax({
            url: `/filemanagers/${folderName}/delete-folder`,
            method: 'GET',
            dataType: 'JSON',
            headers: {
                'accept': 'application/json',
                'Authorization': 'Bearer ' + access_token
            },
            success: function(data) {        
                $.magnificPopup.close()
        
                $('.content_details').fadeOut()
                $('.btn-details').fadeOut()
                $('.btn-details').html()
                $('.page-404__title').html('<path style="fill: rgb(234, 217, 217);" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>')
                $('.content_details').html()
                initMediaFolder()
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: data.details,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error: function(errors) {
                $.magnificPopup.close()
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: errors.responseJSON.detail,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    })

    window.openFolder = function(filesData, folderName) {
        var files = JSON.parse(filesData.replace(/&quot;/g, '"').replace(/&apos;/g, "'"));
        var folder = JSON.parse(folderName.replace(/&quot;/g, '"').replace(/&apos;/g, "'"));
        var list = '';
        
        $('.content_details').fadeOut()
        $('.btn-details').fadeOut()
        $('.btn-details').html()
        $('.page-404__title').html('<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>')
        $('.content_details').html()
    
        for (var i = 0; i < files.length; i++) {
            list += '<div class="col-6 col-md-4 col-lg-3 mb-4">';
            list += '    <a role="button" onclick="showFileDetail(\'' + files[i] + '\', \'' + folder + '\')" class="profile__action profile__action--edit open-modal">';
            list += '        <div class="icon-wrapper">';
            list += '            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">';
            if (files[i].includes('.jpeg') || files[i].includes('.jpg') || files[i].includes('.png')) {
                list += '               <path fill-rule="evenodd" d="M13 10a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2H14a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>';
                list += '               <path fill-rule="evenodd" d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12c0 .556-.227 1.06-.593 1.422A.999.999 0 0 1 20.5 20H4a2.002 2.002 0 0 1-2-2V6Zm6.892 12 3.833-5.356-3.99-4.322a1 1 0 0 0-1.549.097L4 12.879V6h16v9.95l-3.257-3.619a1 1 0 0 0-1.557.088L11.2 18H8.892Z" clip-rule="evenodd"/>';
            } else if (files[i].includes('.zip') || files[i].includes('.rar')) {
                list += '               <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-4 1h.01v.01H15V5Zm-2 2h.01v.01H13V7Zm2 2h.01v.01H15V9Zm-2 2h.01v.01H13V11Zm2 2h.01v.01H15V13Zm-2 2h.01v.01H13V15Zm2 2h.01v.01H15V17Zm-2 2h.01v.01H13V19Z"/>';
            } else {
                list += '               <path d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>';
            }
            list += '            </svg>';
            list += '        </div>';
            list += '        <span>' + files[i] + '</span>';
            list += '    </a>';
            list += '</div>';
        }
        $('#mediaFolder-content').html('');
        $('#mediaFolder').css('display', 'none');
        $('#mediaContent').css('display', 'initial');
        $('#media-content').html(list);
        $('#nbrFolder').text(files.length + ' total');
    }

    window.showFileDetail = function(fileName, folder) {
        access_token = getCookie('access_token')
        
        $.ajax({
            url: `/filemanagers/${fileName}/`,
            method: 'GET',
            dataType: 'JSON',
            headers: {
                'accept': 'application/json',
                'Authorization': 'Bearer ' + access_token
            },
            success: function(data) {
                if (fileName.includes('.jpeg') || fileName.includes('.jpg') || fileName.includes('.png')) {
                    $('.page-404__title').html(
                        '<path fill-rule="evenodd" d="M13 10a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2H14a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>'
                        +'<path fill-rule="evenodd" d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12c0 .556-.227 1.06-.593 1.422A.999.999 0 0 1 20.5 20H4a2.002 2.002 0 0 1-2-2V6Zm6.892 12 3.833-5.356-3.99-4.322a1 1 0 0 0-1.549.097L4 12.879V6h16v9.95l-3.257-3.619a1 1 0 0 0-1.557.088L11.2 18H8.892Z" clip-rule="evenodd"/>'
                    );
                } else if (fileName.includes('.zip') || fileName.includes('.rar')) {
                    $('.page-404__title').html('<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-4 1h.01v.01H15V5Zm-2 2h.01v.01H13V7Zm2 2h.01v.01H15V9Zm-2 2h.01v.01H13V11Zm2 2h.01v.01H15V13Zm-2 2h.01v.01H13V15Zm2 2h.01v.01H15V17Zm-2 2h.01v.01H13V19Z"/>');
                } else {
                    $('.page-404__title').html('<path d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>');
                }

                var details = ''
                details += '<p class="sign__label" for="oldpass">'
                details += '    <u>Name</u>: ' + fileName
                details += '</p>'
                details += '<p class="sign__label" for="oldpass">'
                details += '    <u>Type File</u>: ' + fileName.split('.')[1]
                details += '</p>'
                details += '<p class="sign__label" for="oldpass">'
                details += '    <u>Is Used</u>: '
                if(data.is_used) {
                details += '<span style="color: blue">Yes</span>'
                } else {
                    details += '<span style="color: Red">No</span>'
                }
                details += '</p>'
            
                var btnDetails = ''
                if(!data.is_used) {
                btnDetails += '<div class="col-6 d-flex justify-content-start">'
                btnDetails += '    <a role="button" onclick="initMediaFolder()" class="form__btn" id="btn-up">Return</a>'
                btnDetails += '</div>'
                btnDetails += '<div class="col-6 d-flex justify-content-end">'
                btnDetails += '    <button id="btn-save" class="modal__btn modal__btn--apply" type="button" style="display: none;">Save</button>'
                btnDetails += '    <a role="button" onclick="deleteFile(\''+fileName+'\', \'' + folder + '\')" class="form__btn" style="background: red">Delete</a>'
                btnDetails += '</div>'
                } else {
                    btnDetails += '<div class="col-12 d-flex justify-content-middle">'
                    btnDetails += '    <a role="button" onclick="initMediaFolder()" class="form__btn" id="btn-up">Return</a>'
                    btnDetails += '</div>'
                }
            
                $('.content_details').fadeIn()
                $('.btn-details').fadeIn()
                $('.btn-details').html(btnDetails)
                $('.content_details').html(details)
            }
        })
    }

    window.deleteFile = function(fileName, folder) {
        $.magnificPopup.open({
            items: {
                src: '#modal-delete-file'
            },
            type: 'inline',
            fixedContentPos: true,
            fixedBgPos: true,
            overflowY: 'auto',
            preloader: false,
            focus: '#username',
            modal: false,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            closeBtnInside: true,
            callbacks: {
                open: function() {
                    $('.modal__title').text('File deletion');
                    $('.modal__text').text('Are you sure to permanently delete this '+fileName+' folder?')
                    $('#file_name').val(fileName)
                    $('#folder_path').val(folder)
                },
                close: function() {
                    $('.modal__title').text('');
                    $('.modal__text').text('')
                    $('#file_name').val('')
                    $('#folder_path').val('')
                }
            }
        });
    }

    $('#fileDelBtn').on('click', function(event) {
        event.preventDefault()
        access_token = getCookie('access_token')
        var fileName = $('#file_name').val()
        var folder_name = $('#folder_path').val()

        $.ajax({
            url: `/filemanagers/${fileName}/delete-file`,
            method: 'GET',
            dataType: 'JSON',
            headers: {
                'accept': 'application/json',
                'Authorization': 'Bearer ' + access_token,
                'folderName': folder_name
            },
            success: function(data) {        
                $.magnificPopup.close()
        
                $('.content_details').fadeOut()
                $('.btn-details').fadeOut()
                $('.btn-details').html()
                $('.page-404__title').html('<path style="fill: rgb(234, 217, 217);" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>')
                $('.content_details').html()
                initMediaFolder()
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: data.details,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error: function(errors) {
                $.magnificPopup.close()
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: errors.responseJSON.detail,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    })
</script>

{% endblock %}