{% extends 'layouts/master.html' %}
{% block description %}
Back office du site
{% endblock %}
{% block keywords %}
dashboard, backoffice
{% endblock %}
{% block author %}TI-GENERATION{% endblock %}
{% block title %}ZoneAnimee | Dashboard{% endblock %}

{% block content %} 

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div class="row">
        <div class="col-sm-12">
            <div class="card pb-3">
                <div class="card-header border-bottom d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex align-items-center mt-3 gap-2">
                        <div class="form-group mb-0">
                            <select type="select" class="form-control select2-basic-multiple" placeholder="No Action">
                                <option>No Action</option>
                                <option>Status</option>
                                <option>Delete</option>
                            </select>
                        </div>
                        <button class="btn btn-primary ">Apply</button>
                    </div>
                    <button class="btn btn-primary mt-3" type="button" id="newUser">
                        <i class="fa-solid fa-plus me-2"></i>Add User
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive rounded py-4 table-space">
                       <table id="user-list-table" class="table custom-table" role="grid" data-toggle="data-users-table">
                          <thead>
                             <tr class="ligth">
                                <th>Profile</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Verify</th>
                                <th>Join Date</th>
                                <th style="min-width: 100px">Action</th>
                             </tr>
                          </thead>
                          <tbody>
                             
                          </tbody>
                       </table>
                    </div>
                 </div>
            </div>
        </div>
      
    <!-- Modal Start -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <input type="hidden" id="userId">
                        <div class="form-group">
                            <label class="form-label" for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username">
                            <span style="color: #d9847a;" id="error-username"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email">
                            <span style="color: #d9847a;" id="error-email"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <span style="color: #d9847a;" id="error-password"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modalClose">Close</button>
                    <button style="display: none" type="button" class="btn btn-warning" id="btnUp">Save changes</button>
                    <button style="display: none" type="button" class="btn btn-success" id="btnAdd">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <script>
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();
            initUserData()
        })

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function initUserData() {
            access_token = getCookie('access_token')

            if ($.fn.DataTable) {
                if ($('[data-toggle="data-users-table"]').length) {
                    $('[data-toggle="data-users-table"]').DataTable({
                      "autoWidth": false,
                      "dom": '<"row align-items-center"<"col-md-6" l><"col-md-6" f>><"table-responsive my-3" rt><"row align-items-center" <"col-md-6" i><"col-md-6" p>><"clear">',
                      "ajax": {
                        "url": "http://127.0.0.1:8000/users/",
                        "dataSrc": "",
                        "headers": {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        }
                      },
                      "columns": [
                        { "data": "id",
                          "name": "id",
                          "orderable": false,
                          "className": "text-center",
                          "render": function(data, type, row, meta) {
                            return (
                              '<img class="bg-primary-subtle rounded img-fluid avatar-40 me-3" ' +
                              'src="' + '/static/assets/images/user/01.jpg' + '" alt="profile" loading="lazy">'
                            );
                          }
                        },
                        { "data": 'username',
                          "name": 'username',
                          "orderable": true, 
                        },
                        { "data": 'email',
                          "name": 'email',
                          "orderable": true, 
                        },
                        { "data": 'is_admin',
                          "name": 'is_admin',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            return data ? 'Admin' : 'Visitor';
                          }
                        },
                        { "data": 'is_active',
                          "name": 'is_active',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            return data ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-danger">Deactivate</span>';
                          }
                        },
                        { "data": 'is_verified',
                          "name": 'is_verified',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            return data ? '<span class="badge bg-success">Verify</span>' : '<span class="badge bg-info">Not Yet</span>';
                          }
                        },
                        { "data": 'registered_at',
                          "name": 'registered_at',
                          "orderable": true,
                          "render": function(data, type, row, meta) {
                            var date = new Date(data);
                            var year = date.getFullYear();
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var day = date.getDate().toString().padStart(2, '0');
                            var formattedDate = `${year}/${month}/${day}`;
                            return formattedDate
                        }
                        },
                        { "data": null,
                          "name": "action",
                          "orderable": false,
                          "render": function(data, type, row, meta) {
                                var textStatut = data.is_active ? 'Deactivate' : 'Activate';
                                var iconStatut = data.is_active ? 'fa-lock' : 'fa-unlock-alt';
                                var colorStatut = data.is_active ? 'btn-danger' : 'btn-success';
                        
                                var textPromote = data.is_admin ? 'Down Grade' : 'Promote';
                                var iconPromote = data.is_admin ? 'fa-window-close' : 'fa-handshake';
                                var colorPromote = data.is_admin ? 'btn-info' : 'btn-primary';
                                return (
                                    '<div class="flex align-items-center list-user-action">' +
                                        '<a onclick="activate('+data.id+')" class="btn btn-sm btn-icon '+colorStatut+' rounded" data-bs-toggle="tooltip" data-placement="top" title="'+textStatut+'" role="button" data-action="activate">' +
                                            '<span class="btn-inner"><i class="fa-solid '+iconStatut+' fa-xs"></i></span>' +
                                        '</a>' +
                                        '<a onclick="showUser('+data.id+')" class="btn btn-sm btn-icon btn-warning rounded" data-bs-toggle="tooltip" data-placement="top" title="Edit" role="button" data-action="edit">' +
                                            '<span class="btn-inner"><i class="fa-solid fa-edit fa-xs"></i></span>' +
                                        '</a>' +
                                        '<a onclick="promote('+data.id+')" class="btn btn-sm btn-icon '+colorPromote+' rounded" data-bs-toggle="tooltip" data-placement="top" title="'+textPromote+'" role="button" data-action="promote">' +
                                            '<span class="btn-inner"><i class="fa-solid '+iconPromote+' fa-xs"></i></span>' +
                                        '</a>' +
                                        '<a onclick="deleteUser('+data.id+')" class="btn btn-sm btn-icon btn-danger rounded delete-btn" data-bs-toggle="tooltip" data-placement="top" title="Delete" role="button" data-action="delete">' +
                                            '<span class="btn-inner"><i class="fa-solid fa-trash fa-xs"></i></span>' +
                                        '</a>' +
                                    '</div>'
                                );
                            }
                        }
                      ]
                    });
                }
            }
        }

        $('#newUser').on('click', function() {
            $('#exampleModalCenter').modal('show')
            $('#form')[0].reset()
            $('#exampleModalCenterTitle').text('Add User')
            $('#btnAdd').css('display', 'initial')
            $('#btnUp').css('display', 'none')
            $('span[id^="error-"]').text('');
        })

        $('#modalClose').on('click', function() {
            $('#exampleModalCenter').modal('hide')
            $('#form')[0].reset()
            $('span[id^="error-"]').text('');
        })

        $('#btnAdd').on('click', function(event) {
            event.preventDefault()
            access_token = getCookie('access_token')

            payload = {
                'username': $('#username').val(),
                'email': $('#email').val(),
                'password': $('#password').val()
            }

            $.ajax({
                url: `http://127.0.0.1:8000/auth/register`,
                method: 'POST',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                data: JSON.stringify(payload),
                beaforeSend: function() {
                    $('#btnAdd').append('<div class="spinner"></div>');
                },
                complete: function() {
                    $('.spinner').remove();
                },
                success: function(data) {
                    Swal.fire('Added!', data, 'success')
                    $('[data-toggle="data-users-table"]').DataTable().ajax.reload()
                    $('#form')[0].reset()
                    $('span[id^="error-"]').text('');
                },
                error: function(errors) {
                    $('.spinner').remove();
                    $('span[id^="error-"]').text('');
                    if (errors.status != 422) {
                        Swal.fire('Error!', errors.responseJSON.detail, 'error')
                    } else {
                        var errorsText = $('span[id^="error-"]');
                        if (errors.responseJSON.detail) {
                            errors.responseJSON.detail.forEach(function(error) {
                                const inputName = error.loc[1];
                                const errorMessage = error.msg;
                                const errorSpanId = `error-${inputName}`;
                                
                                $(`#${errorSpanId}`).text(errorMessage);
                            });
                        }
                    }
                }
            })
        })

        function activate(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to change the status of this user?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: "#c03221"
            }).then((result) => {
                if (result.isConfirmed) {
                    access_token = getCookie('access_token')

                    $.ajax({
                        url: `http://127.0.0.1:8000/users/${id}/activate/`,
                        method: 'GET',
                        dataType: 'JSON',
                        headers: {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        },
                        success: function(data) {
                            Swal.fire('Success!', data, 'success');
                            $('[data-toggle="data-users-table"]').DataTable().ajax.reload()
                        },
                        error: function(errors) {
                            Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                        }
                    })
                    
                }
            })
        }

        function promote(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to change the status of this user?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: "#c03221"
            }).then((result) => {
                if (result.isConfirmed) {
                    access_token = getCookie('access_token')
                    
                    $.ajax({
                        url: `http://127.0.0.1:8000/users/${id}/promote/`,
                        method: 'GET',
                        dataType: 'JSON',
                        headers: {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        },
                        success: function(data) {
                            Swal.fire('Success!', data, 'success');
                            $('[data-toggle="data-users-table"]').DataTable().ajax.reload()
                        },
                        error: function(errors) {
                            Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                        }
                    })
                    
                }
            })
        }

        function deleteUser(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to delete the user!? Vous ne pourrez plus revenir en arrière !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: "#c03221"
            }).then((result) => {
                if (result.isConfirmed) {
                    access_token = getCookie('access_token')

                    $.ajax({
                        url: `http://127.0.0.1:8000/users/${id}/`,
                        method: 'DELETE',
                        dataType: 'JSON',
                        headers: {
                            'accept': 'application/json',
                            'Authorization': 'Bearer ' + access_token
                        },
                        success: function(data) {
                            Swal.fire('Deleted!', data, 'success');
                            $('[data-toggle="data-users-table"]').DataTable().ajax.reload()
                        },
                        error: function(errors) {
                            Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                        }
                    })
                }
            });
        }

        function showUser(id) {
            access_token = getCookie('access_token')

            $.ajax({
                url: `http://127.0.0.1:8000/users/${id}/`,
                method: 'GET',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                success: function(data) {
                    $('#exampleModalCenter').modal('show')
                    $('#exampleModalCenterTitle').text('Update User Infos')
                    $('#btnAdd').css('display', 'none')
                    $('#btnUp').css('display', 'initial')

                    $('#userId').val(data.id)
                    $('#email').val(data.email)
                    $('#username').val(data.username)
                },
                error: function(errors) {
                    Swal.fire('Error!', errors.responseJSON.detail, 'danger');
                }
            })
        }

        $('#btnUp').on('click', function(event) {
            event.preventDefault()
            access_token = getCookie('access_token')
            var id = $('#userId').val()

            payload = {
                'username': $('#username').val(),
                'email': $('#email').val(),
                'password': $('#password').val()
            }

            $.ajax({
                url: `http://127.0.0.1:8000/users/${id}/`,
                method: 'PUT',
                dataType: 'JSON',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + access_token
                },
                data: JSON.stringify(payload),
                beaforeSend: function() {
                    $('#btnUp').append('<div class="spinner"></div>');
                },
                complete: function() {
                    $('.spinner').remove();
                },
                success: function(data) {
                    $('#exampleModalCenter').modal('hide')
                    Swal.fire('Update!', data, 'success')
                    $('[data-toggle="data-users-table"]').DataTable().ajax.reload()
                },
                error: function(errors) {
                    $('.spinner').remove();
                    $('span[id^="error-"]').text('');
                    if (errors.status != 422) {
                        Swal.fire('Error!', errors.responseJSON.detail, 'error')
                    } else {
                        var errorsText = $('span[id^="error-"]');
                        if (errors.responseJSON.detail) {
                            errors.responseJSON.detail.forEach(function(error) {
                                const inputName = error.loc[1];
                                const errorMessage = error.msg;
                                const errorSpanId = `error-${inputName}`;
                                
                                $(`#${errorSpanId}`).text(errorMessage);
                            });
                        }
                    }
                }
            })
        })
    </script>
    
{% endblock %}